.policies {
  display: flex;
  width: 100%;
  height: 100%;
}


h2 {
  color:var(--primary-blue);
  font-weight: 600;
}
.bodyContentContainer {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: white;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0rem 0.2rem 0.1rem rgba(162, 162, 162, 0.1);
  display: flex;
  flex-direction: row;
  align-items: start;

  justify-content: flex-start;

  min-width: 40rem;
  min-height: 30rem;
}

.sideDocumentContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;

  height: 100%;
  width: 13.5rem;
  max-width: 13.5rem;

  /* IMPORTANT for scroll layouts */
  min-height: 0;

  border-right: 1px solid rgb(191, 191, 191);
}

.searchBarContainer {
  padding-right: 0.75rem;
  width: 100%;
}


.filterAndFileNumContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 0.75rem;
  color: rgb(105, 105, 105);
  padding: 0.25rem 1rem 0rem 0rem;
}

.filterContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-right: 1rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  border: 1px solid var(--primary-blue);
  border-radius: 0.25rem;
  color: var(--primary-blue);
  gap: 0.25rem;
  cursor: pointer;
}

.filterContainer:hover {
  background-color: #e6f0ff;

}

.filterContainer img{ 
  width: 0.75rem;
  height: 0.75rem;
}
    

/* document container should take the remaining height */
.documentAndFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  /* fills remaining space */
  flex: 1;
  min-height: 0;
}


/* Area that  expands (and scroll) */
.documentsContainer {
  width: 100%;
  max-width: 100%;

  /* fill available space inside documentAndFooterContainer */
  flex: 1;

  /* so it can scroll instead of pushing footer off-screen */
  overflow-y: auto;
  overflow-x: hidden;

  /* IMPORTANT in nested flex columns */
  min-height: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 1rem;

  border-top: 1px solid rgb(184, 184, 184);
  border-bottom: 1px solid rgb(184, 184, 184);

  /*scrollbar-width: thin;
  scrollbar-color: #94A9C6 transparent;*/
}


.documentsContainer::-webkit-scrollbar{
  width: 0.3rem;
}

.documentsContainer::-webkit-scrollbar-track{
  background: transparent;   /* no visible track */
}

.documentsContainer::-webkit-scrollbar-thumb{
  background: #94A9C6;
  border-radius: 5rem;      /* rounded rectangle */
}

.documentsContainer::-webkit-scrollbar-thumb:hover{
  background: #8399ba;       
}

.documentItem {
  font-size: 0.8rem;
  color: rgb(75, 75, 75);
  background-color: #E7E7E7;
  border-radius: 0.3rem;

  width: 100%;
  box-sizing: border-box;

  min-height: 3.75rem;
  height: 3.75rem;          
  padding: 0.5rem;
  border: 1px solid rgb(109, 109, 109);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;      
  cursor: pointer; 
  transition: background-color 0.2s, color 0.2s;
}

.documentItem.selected{
  background-color: var(--primary-blue);
  color: white;
}

.documentItem.selected:hover{
  background-color: #0d3673;
  color: white;
}

.documentItem:hover{
  background-color: #dde5f1;
}

/* target the text directly */
.documentItem p {
  margin: 0;
  width: 100%;
  min-width: 0;            
  text-align: center;
  line-height: 1rem;

  /* multi-line ellipsis */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;   /* change to 1, 2, 3 lines */
  overflow: hidden;

  /* use this instead of word-break */
  overflow-wrap: anywhere;
}

/* footer stays pinned at bottom */
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid rgb(255, 0, 0);*/
  width: 100%;
  height: 2rem;
  font-size: 0.75rem;
  /* won't make it shrink away */
  flex-shrink: 0;
  padding-top: 0.4rem;
}

.pageButton {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0rem 0.5rem;
} 

.pageButton:disabled {
  visibility: hidden;   /* keeps space, hides button */
  pointer-events: none;
}

.rightContentContainer{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  /* fills remaining space */
  flex: 1;
  min-height: 0;
  height:100%;
  color: white;
  background-color: #F5F9FF;
  border: 1px solid #a8a8a8;
  border-radius: 0.5rem;
  margin-left: 1rem;
}
.documentHeaderContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: var(--primary-blue);
  border-radius: 0.5rem 0.5rem 0 0;
}