@import "tailwindcss";

:root {
  /* color variables */
  --light-teal-background: #eff8f9;
  --light-grey-selected: #dde0e2;
  --light-grey-lines: #d2d2d2;
  --light-grey-text: #787878;
  --primary-teal: #00a8a8;

  /* size variables */
  --header-navi-height: 4rem;
  --footer-kinetiq-height: 4rem;
  --sidebar-icons-width: 4rem;
  --sidebar-desc-width: 12rem;
  --sidebar-desc-item-width: 10.7rem;
  --sidebar-main-menu-container-height: 1.5rem;
}

div {
  outline: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.shell-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: var(--light-teal-background);
  overflow: auto;
}

.sidebar-icons-hamburger-container {
  height: var(--header-navi-height);
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ham-menu-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}

.ham-menu-icon span {
  height: 0.1rem;
  width: 100%;
  background-color: rgb(124, 124, 124);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu-icon span:nth-child(1) {
  top: 20%;
}

.ham-menu-icon span:nth-child(3) {
  top: 80%;
}

.ham-menu-icon.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -55%) rotate(45deg);
}

.ham-menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu-icon.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -55%) rotate(-45deg);
}

/* sidebar icons -- fixed width */
.sidebar-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: var(--sidebar-icons-width);
  min-width: var(--sidebar-icons-width);
  background-color: white;
  box-shadow: 0.2rem 0 0.1rem rgba(64, 64, 64, 0.1);
  z-index: 2;
}

.sidebar-icons-ham-icon-wrapper {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  border-radius: 0.3rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.sidebar-main-menu-container {
  height: var(--sidebar-main-menu-container-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--light-grey-lines);
}

.sidebar-module-icons,
.sidebar-module-icons.opened {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: transparent;
  transition: 0.25s ease-in-out;
  gap: 0.3rem;
  padding-bottom: 1rem;

  background: /* Shadow covers */
  /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), 
  linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,

  /* Shadows (converted radial to linear) */
  linear-gradient(to top, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0)) bottom;
  
  background-repeat: no-repeat;
  background-color: white;

  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.sidebar-module-icons {
  margin-left: 0;
}

.sidebar-module-icons.opened {
  margin-left: 1rem;
}

.sidebar-module-descs {
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 0.3rem;

  background: /* Shadow covers */
  /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), 
  linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,

  /* Shadows (converted radial to linear) */
  linear-gradient(to top, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0)) bottom;
  
  background-repeat: no-repeat;
  background-color: white;

  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.sidebar-module-icons::-webkit-scrollbar,
.sidebar-module-descs::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, Edge */
}

.sidebar-module-icons img {
  height: 1rem;
  width: 1rem;
}

/* sidebar description -- fixed width */
.sidebar-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: var(--sidebar-desc-width);
  min-width: var(--sidebar-desc-width);
  background-color: white;
  opacity: 1;
  overflow: hidden;
  box-shadow: 0.2rem 0 0.1rem rgba(64, 64, 64, 0.1);
  z-index: 2;
  transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out,
    0.3s ease-in-out;
}

.sidebar-desc-container.closed {
  min-width: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
  padding-right: 0rem;
}

.sidebar-module-icons-item,
.sidebar-module-icons-item.opened {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.85rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: 0.2s ease;
}
.sidebar-module-icons-item {
  border-radius: 0.2rem;
}
.sidebar-module-icons-item.opened {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.sidebar-module-desc-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  height: 3rem;
  width: var(--sidebar-desc-item-width);
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.2s ease;
}

.sidebar-module-desc-item p {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 0;
}

.sidebar-module-icons-item.hovered,
.sidebar-module-desc-item.hovered,
.sidebar-submodule-item.hovered,
.sidebar-module-icons-item.opened.hovered,
.sidebar-module-icons-item.opened.hovered {
  background-color: #e0f2f5;
}

.sidebar-module-icons-item.active,
.sidebar-module-desc-item.active,
.sidebar-submodule-item.active {
  background-color: var(--light-grey-selected);
}

.sidebar-module-icons-item.active.hovered,
.sidebar-module-desc-item.active.hovered,
.sidebar-submodule-item.active.hovered,
.sidebar-module-icons-item.opened.active.hovered,
.sidebar-module-icons-item.opened.active.hovered {
  background-color: #c2c2c2;
}

.sidebar-submodule-item-empty {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  height: 2rem;
  width: 3rem;
  margin-top: 0.3rem;
}

.sidebar-submodule-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  height: 2rem;
  margin-top: 0.3rem;
  width: var(--sidebar-desc-item-width);
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 0.75rem;
  gap: 0.75rem;
  border-bottom: 1px solid var(--light-grey-lines);
}

.sidebar-submodule-item.active {
  background-color: var(--light-grey-selected);
  border-radius: 0.5rem;
}

.sidebar-submodule-empty-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.sidebar-submodule-empty-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar-submodule-empty-container.opened {
  max-height: 37.5rem;
  opacity: 1;
}

.sidebar-kinetiq-footer,
.sidebar-kinetiq-footer-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-kinetiq-height);
  width: 100%;
  border-top: 1px solid var(--light-grey-lines);
}

.sidebar-kinetiq-footer-desc {
  justify-content: flex-start;
  font-size: 0.8rem;
  color: var(--light-grey-text);
}

.sidebar-kinetiq-footer img {
  height: 1.5rem;
  width: 1.5rem;
}

/* main content area that takes up the remaining space */
.header-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

/* header navigation -- fixed height */
.header-navi{
  height: var(--header-navi-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 2rem 1rem 2rem;
  gap: 1rem;
  z-index: 1;
  box-shadow: 0rem 0.2rem 0.1rem rgba(162, 162, 162, 0.1);
}

.header-module-names {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-tabs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: opacity 0.2s ease-in-out;
}

.header-tabs-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.header-tabs-container img {
  height: 2.1rem;
  width: 2.1rem;
}

.header-tabs-container p {
  margin-left: 0.8rem;
  transition: 0.1s ease-in-out;
  color: var(--light-grey-text);
  cursor: default;
  font-size: 0.9rem;
  white-space: nowrap;
}

.header-module-name.active {
  font-weight: 600;
}

.header-module-name:hover {
  cursor: pointer;
  color: var(--primary-teal);
}

#header-submodule-name {
  font-weight: 600;
}

.header-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;

}

.header-right-container img {
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  object-fit: contain;
}

.header-right-container p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 0.75rem;
}

.header-profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header-profile-icon-wrapper{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.header-profile-icon-wrapper.opened{
  background-color: rgb(235, 235, 235);
  box-shadow: 0rem 0.5rem 0.5rem rgba(162, 162, 162, 0.);
}

.header-profile-icon-wrapper.opened:hover {
  background-color: rgb(218, 218, 218);
}

.header-profile-icon-wrapper p{
  font-weight: 600;
  color: #01a2a2;
}

.header-profile-icon-wrapper:hover {
  background-color: rgb(245, 245, 245);
}

.header-profile-container p { 
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-profile-name { /*separate thing to avoid messing up the placeholder pfp */
  overflow: hidden;
  width: 5rem;
}

.header-profile-icon {
  background-color: #e4f1f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10rem;
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #00a8a8;
  margin-left: 0rem;
}

@keyframes smooth-appear {
  from {
    opacity: 0;
    transform: translateY(-10px); /* Slide down effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notif-menu {
  position: absolute;
  top: 3.5rem;
  right: 12.5rem;
  padding-top: 1rem;
  background-color: white;
  width: 20rem;
  max-height: 50vh;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0.1rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow-x: wrap;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.3rem;
  z-index: 999;


  background: /* Shadow covers */
  /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), 
  linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,

  /* Shadows (converted radial to linear) */
  linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0)) top,
  linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0)) bottom;
  
  background-repeat: no-repeat;
  background-color: white;

  background-repeat: no-repeat;
  background-size: 100% 5rem, 100% 5rem, 100% 2rem, 100% 0.7rem;
  background-attachment: local, local, scroll, scroll;

  animation: smooth-appear 0.3s ease;
}

.notif-menu::-webkit-scrollbar {
  width: 0.75rem; 
}

.notif-menu::-webkit-scrollbar-track {
  background: white; 
}

.notif-menu::-webkit-scrollbar-thumb {
  background: #00a8a8;
  border-radius: 0.5rem;
  border: 0.25rem solid white; 
}

.notif-title p{
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #00A8A8;
}

.notif-item, .notif-empty {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 2rem;
  padding-top: 1rem;
  
  color: #787878;
  font-size: 5;
}

.notif-item {
  padding-bottom: 1rem;
  border-bottom: 1px solid #D2D2D2;
}

.notif-empty {
  padding-bottom: 1.5rem;
  scrollbar-width: 0;
}

.notif-item .notif-msg p, .notif-empty .notif-msg p{
  color: #acacac;
}


.notif-item:hover {
  background-color: rgba(79, 79, 79, 0.1);
  cursor: pointer;
}

.notif-item-unread .notif-origin p{
  font-weight: 700;
}

.notif-origin p{
  text-overflow: wrap;
  overflow: hidden;
  width: 9rem;
  line-height: 1.1rem;
}

.notif-item-unread {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  border-bottom: 1px solid #D2D2D2;
}

.notif-item-unread:hover {
  background-color: rgba(79, 79, 79, 0.1);
  cursor: pointer;
}

.notif-toprow {
  display: flex;
  justify-content: space-between;
}

.notif-item-unread .notif-toprow {
  display: flex;
  justify-content: space-between;
  color: #469FC2;
}

.notif-toprow p{
  font-size: 0.80rem;
}

.notif-time-and-icon {
  display: flex;
  justify-content: end;
}

.notif-item-unread .notif-time-and-icon p{
  font-weight: 600;
  color: #469FC2;
}

.unread-notif-icon img {
  width: 0.5rem;
  height: 0.5rem;
  margin-top: 0.25rem;
}

.notif-item-unread .notif-msg p{
  color: #787878;
}

.notif-msg p{
  font-size: 0.70rem;
}

.notif-time p{
  font-size: 0.75rem;
}

.profile-dropdown {
  position: absolute;
  right: 2rem;
  top: 3.5rem;
  width: 13rem;
  background: white;
  box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,0.1);
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 999;
  font-size: 0.85rem;
  animation: smooth-appear 0.3s ease;
}

.profile-dropdown-header{
  padding: 1rem 1rem 0rem 1rem;
}

.profile-dropdown p {
  margin: 0;
}

.profile-name{
  font-weight: 600;
  font-size: 0.9rem;
  color: #00b5b5;
}

.profile-details{
  font-weight: 500;
  font-size: 0.8rem;
  color: #898989;
}

.dropdown-item {
  padding: 0.5rem 0;
  cursor: pointer;
  color: #787878;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.dropdown-item img{
  height: 0.9rem;
  width: 0.9rem;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-menu{
  margin: 0.75rem 0rem;
}
.dropdown-divider {
  height: 0.05rem;
  background: #e7e7e7;
  margin-top: 1rem;
}

/* body container -- takes remaining space below header */
.body-container {
  flex: 1;
  width: 100%;
  height: calc(100% - var(--header-navi-height));
  padding: 1.75rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.loading-suspense{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

